*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    
    background-color:#F7F5F8;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Light', sans-serif;
    font-size: calc(1vw + 0.9em);
    padding: 62px 0 51px 0;
    width: 80%;
    margin: 0 auto;
}

.team-name{
    margin-bottom: 9px;
    margin-left: 8px;
    color: #242424;
}

.main{
    margin: 0 auto;
    width: 320px;
    margin-bottom: 72px;
}

.wrapper,.wrapper-end{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 14px;
    border-radius: 10px;
    font-size: calc(1vw + 0.6em);
    
    margin: 0 22px;
    box-shadow: 0px 3px 6px #0000001A;
}

.block-to-start, .block-to-end{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 21px;
}

.block-to-start p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 24px 0;
}

.block-to-end p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 24px 0;
    margin-bottom: 109px;
}

.button-start{
    
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 118px;
    height: 39px;
    margin: 0 auto;
    background-color: #460EDE;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.button-confirm-answer{
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 118px;
    height: 39px;
    background-color: #460EDE;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.questions{
    list-style: none;
    width: 275px;
    margin: 0 auto;
}

.question{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 14px;
    border-radius: 10px;
    font-size: calc(1vw + 0.6em);
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px #0000001A;
    opacity: 1;
    
}

.question strong{
    margin-bottom: 8px;
    font-size: 21px;
}

.question p{
    margin-bottom: 17.5px;
    font-size: 13px;
    color: #B1B1B1;

}

.question input{
    border: none;
    border-bottom: 1px solid #B1B1B1;
    opacity: 1;
    padding: 8.5px 0;
    outline: none;
    
}

.question input::-webkit-input-placeholder { color: #B1B1B1; }

.questions input:focus::-webkit-input-placeholder { color:transparent; }

.display-none{
    display: none;
}


@media only screen and (min-width : 1336px) {
    .header{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }

    .main{
        width: 630px;
    }

    .wrapper,.wrapper-end{
        justify-content: flex-start;
        padding: 39px 40px;
        margin: 0 auto;
        height: 430px;
    }

    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }

    .block-to-start p{
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }

    .block-to-end p{
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }

    .button-start{
        width: 145px;
        height: 43px;
        margin-top: 139px; 
    }

    .button-confirm-answer{
        
        width: 145px;
        height: 43px;
        
    }

    .questions{
        width: 630px;
    }

    .question{
        padding: 40px 39px;
    }

    .question strong{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }
    
    .question p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }

    .question input{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        
    }
}