* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  background-color: #7347ef;
}

button:focus {
  background-color: #5032a7;
}

button:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

body {
  background-color: #f7f5f8;
  color: #242424;
  font-family: 'Open Sans', sans-serif;
}

.header__title {
  font-weight: 300;
}
.content-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 24px 15px;
  width: 100%;
}

.wrapper {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.title {
  font-size: 21px;
}
.survey-preview {
  position: relative;
  left: 0;
}

.survey-preview__title {
  margin-bottom: 24px;
}

.survey-preview__text {
  margin-bottom: 10px;
  font-size: 13px;
}
.survey-preview__text:last-of-type {
  margin-bottom: 50px;
}
.survey-preview__text:last-of-type.survey-preview__text--without-margin {
  margin: 0;
}

.button {
  display: block;
  background-color: #460ede;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 118px;
  height: 39px;
}

.survey-preview__button {
  margin: 0 auto;
}

.question-item {
  margin-bottom: 40px;
}

.question__title {
  margin-bottom: 8px;
}

.question__question-number {
  font-size: 13px;
  color: #b1b1b1;
  margin-bottom: 25px;
}
.question__answer-text{
  resize: none;
  width: 100%;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  overflow: hidden;
  padding-bottom: 15px;
}

.question__answer-text::-ms-input-placeholder{
  color:#b1b1b1;
}
.question__answer-text:focus {
  border-bottom: 1px solid #5032a7;
}

.questions__button {
  margin: 0 auto;
  margin-bottom: 10px;
}

.questions__circle-load {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  animation: 1s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none;
}

.questions__warning-text {
  text-align: center;
  color: #b22222;
}

.questions {
  margin-bottom: 70px;
  opacity: 0;
  transition: 2s ease-in-out;
}

@media (min-width: 480px) {
  .content-wrapper {
    padding: 40px;
  }

  .survey-preview__text:last-of-type {
    margin-bottom: 45px;
  }

  .survey-preview__text:last-of-type.survey-preview__text--without-margin {
    margin: 0;
  }

  .survey-preview__text {
    font-size: 17px;
  }

  .title {
    font-size: 25px;
  }

  .question__question-number {
    font-size: 15px;
  }

  .question__answer-text {
    font-size: 15px;
  }
  .button{
    font-size: 18px;
    width: 145px;
    height: 43px;
  }
}

@media (min-width: 1360px) {
  .header__wrapper {
    padding-top: 110px;
    padding-bottom: 30px;
  }
}

.open {
  position: relative;
  left: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.center {
  position: relative;
  left: 0;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.close {
  position: relative;
  left: -100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.footer{
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.footer__text{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}